@import '../../assets/styles/colors';
@import '../../assets/styles/helpers';

.c-list-item-container {
  .c-list-item {
    background-color: $color4;
    padding-top: 18px;

    > div {
      margin-left: 44px;
    }

    &.selected {
      .c-list-item-status {
        align-self: center;
        background-image: url('../../assets/img/ic_checked.svg');
        height: 24px;
        margin: -16px 12px 0 0;
        width: 24px;
      }
    }

    .c-list-item-name {
      font-family: 'SF UI Display Light';
      padding-bottom: 18px;
    }
  }
}